@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima Nova";
  src: local('Proxima Nova'), url(@/assets/ProximaNova-Regular.otf) format('opentype');
  font-weight: 500
}

@font-face {
  font-family: "Proxima Nova";
  src: local('Proxima Nova'), url("@/assets/Proxima Nova Bold.otf") format('opentype');
  font-weight: 600
}

* {
    font-family: "Proxima Nova";
    scroll-behavior: smooth;
}

.animate__delay-0\.5s {
    animation-delay: 0.5s !important;
}

code * {
    font-family: "Source Code Pro" !important;
}

pre, pre * {
    background-color: rgb(23, 23, 23) !important
}