@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Proxima Nova";
    scroll-behavior: smooth;
}

.animate__delay-0\.5s {
    animation-delay: 0.5s !important;
}

code * {
    font-family: "Source Code Pro" !important;
}

pre, pre * {
    background-color: rgb(23, 23, 23) !important
}